body {
  font-family: $font-sans;
}

.dds-fourohfour {
    text-align: center;
    margin: 4em;
}

.dds-opportunities {
    text-align: left;
    padding-top: 70px;
}

.site-alert-overlay, .site-alert {
  position: fixed;
  background-color: $color-white;
  display: none;
}

.site-alert-overlay {
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  @include opacity(0.9);
  z-index: 1;
}

.site-alert {
  z-index: 10;
  padding: 10px;
  border-top: 6px solid $color-primary-darkest;
  box-shadow: 0 6px 12px 0px rgba(0, 0, 0, 0.2);
  .fa {
    float: left;
  }
  text-align: center;
  h3 {
    color: $color-primary;
  }

  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transform: translate(0, 0);

  @include media($medium-screen) {
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    transform: translate(-300px, -150px);
  }

  .policy {
      font-size: 1.5rem;
      position: absolute;
      bottom: 5px;
      width: auto;
      text-align: center;
      transform: translate(-100px, 0);
  }
}


.dds-site-header {
  @include position(fixed, 0 null null 0);
  height: $fixed-header-height-desktop;
  width: 100%;
  z-index: 1;

  @include media($medium-screen) {
    position: absolute;
  }

  // Removes fixed header on Android in landscape with an open keyboard
  @media screen and (min-aspect-ratio: 13/9) and (max-width: ($medium-screen)) {
    position: absolute;
  }

  a {
    border-bottom: none;
  }

  // Collapsed at the header-level only applies to larger screen sizes
  @include media($small-screen) {
    &.collapsed {
      position: fixed;
      opacity: 0.99;
      .dds-navbar {
        height: $fixed-header-height-desktop-collapsed;
        transition: height 0.25s ease-in-out;
      }
      .dds-nav {
        top: $fixed-header-height-desktop-collapsed / 2 - 14px;
        transition: top 0.1s ease-in-out;
      }
      .dds-logo {
        width: 112px;
        transition: height 0.2s ease-in-out;
      }
    }
  }
}

.usa-disclaimer-small {
  background-color: $color-gray-lightest;
  border-bottom: 1px solid $color-white;
  font-size: 1.5rem;
  height: 3rem;
  padding-right: $site-margins;
  padding-left: $site-margins;
  text-align: right;
  display: block;

  .usa-disclaimer-member {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;

    p {
      margin: 3px 0;
      display: inline-block;
    }
  }

  @media screen and (max-width: $small-screen) {
    font-size: 1.2rem;
    height: 2rem;
    padding-left: $site-margins-mobile;
    padding-right: $site-margins-mobile;

    .usa-disclaimer-member {
      margin: 0;
    }
  }
}

.dds-logo {
  position: absolute;
  left: 8px;

  a {
    color: $background-color;
    text-decoration: none;
  }

  em {
    display: inline-block;
    font-family: $font-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: $font-bold;
    margin-top: 11px;

    @include media($medium-screen) {
      display: none;
    }
  }

  img {
    vertical-align: middle;
    display: none;

    @include media($medium-screen) {
      display: block;
      width: 112px;
      margin-top: -14px;
    }

    @include media($desktop-nav-width) {
      display: block;
      width: 112px;
      margin-top: -26px;
    }
  }
}

.dds-navbar {
  height: 41px;
  background-color: $color-primary-darkest;
  border-bottom: 1px solid $color-gray-lighter;
  position: relative;

  @include media($medium-screen) {
    height: 64px;
  }

  // Firefox fix so that navbar buttons to align right
  @-moz-document url-prefix() {
    @include media($medium-screen) {
      padding-top: 1px;
    }
  }
}

.dds-nav {
  @media (max-width: $medium-screen - 1) {
    position: absolute;
    top: 41px;
    width: 100%;
    background-color: $color-primary;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
    z-index: 1;
    overflow: hidden;
    display: block;

    // Because the div is shared by desktop and mobile, we only want to hide if
    // we're on a mobile screen size.
    &.mobile-nav-hidden {
      display: none;
    }

    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      cursor: pointer;
      margin: 0;

      &:hover {
        background-color: $color-primary-darker;
      }

      a {
        display: inline-block;
        width: 100%;
        padding: 0.3em 1em;

        &:hover {
          color: $color-white;
        }
      }
    }
  }

  @media ( min-width: $medium-screen ) {
    position: absolute;
    top: 18px;
    right: 12px;
    clear: both;
    display: block;

    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;

      li {
        display: inline;
        padding-right: $site-margins;
      }
    }
  }

  li {
    &:before, &:after {
      content: none;
    }
  }

  a {
    color: $color-white;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    text-decoration: none;

    &:focus {
      border: none;
      outline: none;
    }

    &:hover {
      color: $color-primary-alt-light;
      text-decoration: underline;
    }

    &.usa-current {
      color: $color-primary-alt-light;
      font-weight: $font-bold;
    }
  }
}

.dds-mobile-nav-toggle {
  border: none;
  color: $color-white;
  background-color: $color-primary-darker;
  display: inline;
  float: right;
  font-size: $h6-font-size;
  line-height: 4rem;
  height: 4rem;
  width: 5.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @include media($medium-screen) {
    display: none;
  }

  &.mobile-nav-hidden {
    background-color: $color-primary;
  }
}

// Default grid is 3-column on medium screens and 1 column on small screens
.dds-grid {
  @include outer-container;
  &:before, &:after {
    content: none;
  }
}
.dds-default-item {
  @media ( max-width: $medium-screen ) {
    @include span-columns(12);
    @include omega(1n);
  }

  @media( min-width: $medium-screen + 1) {
     @include span-columns(4);
     @include omega(3n);
  }
}

// The team grid is max 4 columns, shrinking down to 3, 2 and 1 column, based on
// 200px wide divs, and margins corresponding to site-margins or
// site-margins-mobile and gutters based on Neat's magic sizing.
.dds-team-item {
  // One column
  @media (max-width: 15px*2 + 200px*2 + 10px - 1px) {
    @include span-columns(12);
    @include omega(1n);
  }

  // Two columns
  @media ( min-width: 15px*2 + 200px*2 + 10px) and (max-width:30px*2 + 200px*3 + 15px*2 - 1px) {
    @include span-columns(6);
    @include omega(2n);
  }

  // Three columns
  @media (min-width: 30px*2 + 200px*3 + 15px*2) and (max-width: 30px*2 + 200px*4 + 20px*3 - 1px) {
    @include span-columns(4);
    @include omega(3n);
  }

  // Four columns
  @media (min-width: 30px*2 + 200px*4 + 20px*3) {
    @include span-columns(3);
    @include omega(4n);
  }
}


// HACK:
// We have two sub-teams: Army and Air Force.  We need 2 columns falling back
// to one column.  When we add a 3rd team, you will have to manually change
// this again.  I am sorry.
.dds-subteams-item {
  padding: 10px 10px 10px 10px;

  // One column
  @media (max-width: $medium-screen) {
    @include span-columns(12);
    @include omega(1n);
  }

  // Two columns
  @media ( min-width: $medium-screen - 1) {
    @include span-columns(6);
    @include omega(2n);
  }
}



.dds-site {
  text-align: left;
  margin-top: $fixed-header-height-desktop-collapsed - 10px;
  @include media($medium-screen) {
    margin-top: $fixed-header-height-desktop - $fixed-header-height-desktop-collapsed;
  }

  a, a:visited {
    color: $color-primary;
  }
  a:hover {
    color: $color-primary-darker;
  }
  h2, h3, h4 {
    font-weight: 700;
  }
  p{
    line-height:1.75em;
  }
  @media (min-width: $screen-sm-min) {
    h1 {
      font-weight: normal;
      font-size: 2.6em;
      font-weight: 700;
      line-height: 1.25em;
    }
    h2 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.4em;
    }
  }
  //HACK: see https://github.com/18F/web-design-standards/issues/1120
  .fa[aria-hidden=true]{
    display: inline-block !important;
  }

  .jumbotron {
    width: 100%;
    height: 643px;
    text-align: left;
    background: url('../img/layout/team.jpg') center top no-repeat;
    background-size: contain;
    position: relative;

    .h1 {
      display: block;
      margin-bottom: 0;
    }
    a {
      font-weight: bold;
      text-decoration: underline;
    }
    .credit {
      position: absolute;
      bottom: -30px;
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      color: $color-black;
    }

    .jumbotron-text {
      position: absolute;
      //left: 0; right: 0;
      bottom: 2em;
      margin: 0 auto;
    }

    @include media($medium-screen) {
      background-size: cover;
      color: $color-white;

      a {
        color: $color-white;
      }
    }
  }

  section {
    padding: 60px 0 0 0;
  }

  // Sections that are re-used on multiple parts of the site
  // For CSS that is page-specific, see below
  section.our-work {

    .project {
      margin-top:30px;
      margin-bottom:30px;
      padding: 0 15px 0 15px;
      //border-top: 6px solid $background-color-secondary;
      display: block;
      //font-size: .85em;
      p{

        line-height:1.5em;
      }

      img {
        display: block;
        margin: 0 auto;
        max-height: 170px;
        padding-top: 8px;
      }
    }
  } // </section.our-work>

  section.join-us {
    a, a:visited {
      color: $color-white;
    }

    .join-usds {
      float: none;
    }

    .join-jyn {
      margin-top: 1em;
    }
  }

  section.news {
    .story {
      text-align: left;
      padding: 10px 10px 10px 10px;
      border-top: 1px solid $color-gray-lighter;
      h3 {
        font-style: none;
      }
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $color-primary-darkest;
      }
      a:hover {
        color: $color-primary-darker;
      }
      .author {
        display: block;
        padding: 0.45em 0;
        color: $color-link-blue;
        font-size: 0.9em;
        font-weight: bold;
      }
    }

    .box {
      width: 200px;
      height: 200px;
      margin: 10px auto;

      img {
        display: block;
        border: 1px solid $color-gray-light;
        box-shadow: 0 0 5px $color-gray-light;
        margin: 0 auto;
      }
    }
  } // </section.gallery>

  .footer-bar {
    width: 100%;
    background-color: $color-primary-darkest;
    margin-top: 60px;
    padding-bottom: 10px;
    overflow: auto;
  } // .footer-bar

  .join-button {
    background-color: $color-primary;
    color: $color-white;
    border: 0;
    border-radius: 8px;
    display: inline-block;
    outline: none;
    padding: 1.5rem 3rem;
    text-decoration: none;
    margin: 0;
    font-size: 1.5em;
    &:hover, &:active {
      background-color: $color-primary-darker;
    }
  }

  footer {
    background-color: $color-gray-lightest;
    text-align: left;
    padding: 60px 0;
    font-size: 0.8em;
    .dod-logo {
      position: relative;
      bottom: 10px;
      width: 103px;
      height: 103px;
    }
    .eop-logo {
      max-height: 100px;
    }
    .usds-logo {
      position: relative;
      left: 0px;
      bottom: 10px;
      width: 103px;
      height: 103px;
    }
    h2 {
      margin-top: 0;
      font-family: $font-sans;
      font-size: 1.7rem;
    }
    h2, .fa {
      color: #112e51;
    }
    .fa {
      margin-right: 1rem;
    }
    ul {
      margin: 0;
      li {
        line-height: 2em;
        &:before, &:after {
          content: none;
        }
      }
    }
  } // </footer>

} // </.dds-site>


//
// CSS that is page-specific and not re-used elsewhere
// (for re-usable code, see "sections" above)
// Before adding code here, consider if it could be generalized and
// added above
//

.privacy-page {
  text-align: left;

  margin-top: 2em;
  @include media($medium-screen) {
    margin-top: 10em;
  }
}


/* CSS below this line still needs to be organized and cleaned-up */

.section-rule{
  border-top:1px solid $color-gray-lighter;
  padding-top:60px;
}

.page-width-70, .infographic-container {
  text-align: left;
  margin: auto;
  padding-left: $site-margins-mobile;
  padding-right: $site-margins-mobile;
}

@media (min-width: $screen-md-min) {
  .page-width-70 {
    width: 70%;
  }
  .infographic-container {
    width: 70%;
  }
}

.infographic-verticalalign {
  margin-top: 10%;
}

.infographic-text-blue {
  color: #205493;
  font-weight: bold;
}

.infographic-font-main {
  font-family: $font-serif;
  font-size: 18px;
  p {
    line-height: 30px;
  }
}

.left-align{
  text-align: left;
}

.usa-site-values{
  padding-bottom: 40px;
}

.usa-site-value{
  font-size: 0.8em;
  text-align: left;
  margin: 10px;
  padding-left: 20px;
  border-left: 14px solid $background-color-secondary;
}

.usa-site-value h3{
  color: $color-primary;
}

.social-media-link {
  margin-right: 1rem;
}
