.usa-banner__inner {
  max-width: $content-max-width;

  @include at-media(desktop) {
    padding-left: units(5);
  }
}

.usa-header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;

  .usa-nav-container {
    justify-content: space-between;
    align-items: center;
    padding-top: units(3);
    padding-bottom: units(3);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: $content-max-width;

    @include at-media(desktop) {
      padding-left: units(5);
      padding-right: units(5);
    }
  }
}

.dds-header-image {
  width: 100px;
  height: auto;
}

.usa-navbar {
  border: none;

  .usa-menu-btn,
  .usa-menu-btn:hover {
    color: color($theme-color-primary);
    font-size: size("body", "xl");
    font-weight: 100;
    background-color: unset;
    margin-right: units(2);
  }

  .usa-logo {
    @include at-media(desktop) {
      margin: 0;
    }

    a {
      color: color($theme-color-primary);
    }
  }
}

.usa-nav {
  background-color: rgb(35, 120, 195);
  color: #fff;
  width: 20rem;
  padding: 0;

  @include at-media(desktop) {
    background-color: transparent;
    color: inherit;
    width: 100%;
    padding: units(2);
  }

  .usa-nav__primary {
    margin-top: 0;
    padding: 0 units(2);

    @include at-media(desktop) {
      padding: 0;
    }

    .usa-nav__primary-item {
      border-top: none;

      a {
        font-family: family("sans");
        background-color: transparent;
        color: white;
        font-weight: $theme-font-weight-light;
        white-space: nowrap;

        @include at-media(desktop) {
          font-weight: bold;
          font-size: 17px;
          color: color($theme-color-base);
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      a:hover,
      a.usa-current {
        font-weight: bolder;

        @include at-media(desktop) {
          color: color("blue-50v");
          font-weight: bold;
        }
      }

      a:hover::after,
      a.usa-current::after {
        background-color: #fff;
        width: 0.15em;

        @include at-media(desktop) {
          background-color: color("blue-40v");
          bottom: 0em;
          width: auto;
        }
      }
    }

    .usa-nav__primary-item.header-subnav-item {
      margin-left: units(2);
      @include at-media(desktop) {
        display: none;
      }
    }
  }
}

.dds-nav-search {
  align-items: center;
  display: none;

  @include at-media(desktop) {
    display: flex;
  }

  // form {
  //   outline: none !important;

  //   button {
  //     outline: none !important;
  //   }
  // }

  form {
    height: 100%;
  }

  button {
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    padding: 0 22px;
    color: color($theme-color-base);
  }

  .dds-text-input {
    position: absolute;
    z-index: 1000;
    bottom: -75px;
    right: 0;
    width: 450px;
    padding: 16px;
    visibility: hidden;
    background-color: color("primary-lighter");
  }
}

.dds-nav-search.dds-nav-search-open {
  button {
    background-color: color("primary");
    cursor: pointer;
    border-top-left-radius: units(1);
    border-top-right-radius: units(1);
    color: #fff;
  }

  button.disabled,
  button:disabled {
    background-color: color("primary-lighter");
    color: color("ink");
    cursor: not-allowed;
  }

  .dds-text-input {
    visibility: visible;
    animation: fadeIn ease 0.3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.header-drawer-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: units(2);
  background-color: color("primary");
  padding: units(3) units(2);

  @include at-media(desktop) {
    display: none;
  }

  form {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
    border: 1px solid #ddd;
    position: relative;

    .dds-text-input {
      width: 100%;
    }

    input {
      border: none;
      margin-top: 0;
    }

    button {
      position: absolute;
      right: 0;
      background-color: #fff;
      border: none;
    }
  }

  .usa-nav__close {
    margin: 0;
    font-size: 1.3em;
    font-weight: 100;
    color: #fff;
  }
}
