.usa-banner__inner {
  max-width: $content-max-width;
  width: 100%;

  @include at-media(desktop) {
    padding-left: units(5);
  }
}

.usa-banner__header {
  @media screen and (max-width: 640px) {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.usa-banner__content {
  box-sizing: border-box;
  padding: 1rem;

  @include at-media(desktop) {
    padding: units(3) units(5);
  }
}

.usa-header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;

  .usa-nav-container {
    justify-content: space-between;
    align-items: center;
    padding: units(3);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: $content-max-width;

    @include at-media(tablet) {
      padding-left: units(5);
      padding-right: units(5);
    }

    @include at-media(desktop) {
      padding-left: units(7);
      padding-right: units(7);
    }
  }
}

.dds-header-image {
  width: 100px;
  height: 50px;
}

.dds-header-home-link:focus {
  .dds-header-home {
    outline: 0.25rem solid #2491ff;
  }
}

.usa-navbar {
  border: none;

  .usa-menu-btn,
  .usa-menu-btn:hover {
    color: color($theme-color-primary);
    font-size: size("body", "xl");
    font-weight: 100;
    background-color: transparent;
    margin-right: units(2);
  }

  .usa-logo {
      margin: 0;

    a {
      color: color($theme-color-primary);
    }
  }
}

.usa-nav {
  background-color: rgb(35, 120, 195);
  color: #fff;
  width: 20rem;
  padding: 0;

  @include at-media(desktop-lg) {
    background-color: transparent;
    color: inherit;
    width: 100%;
    padding: units(2);
  }

  .usa-nav__primary {
    margin-top: 0;
    padding: 0 units(2);

    @include at-media(desktop-lg) {
      padding: 0;
    }

    .usa-nav__primary-item {
      border-top: none;

      a {
        font-family: family("sans");
        background-color: transparent;
        color: white;
        font-weight: $theme-font-weight-light;
        white-space: nowrap;

        @include at-media(desktop-lg) {
          font-weight: bold;
          font-size: 17px;
          color: color($theme-color-base);
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      a:hover,
      a.usa-current {
        font-weight: bolder;

        @include at-media(desktop-lg) {
          color: color("blue-50v");
          font-weight: bold;
        }
      }

      a:hover::after,
      a.usa-current::after {
        background-color: #fff;
        width: 0.15em;

        @include at-media(desktop-lg) {
          background-color: color("blue-40v");
          bottom: 0em;
          width: auto;
        }
      }
    }

    .usa-nav__primary-item.header-subnav-item {
      margin-left: units(2);
      @include at-media(desktop-lg) {
        display: none;
      }
    }
  }
}

.dds-search-form {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #fff;
  border: 1px solid #ddd;
  position: relative;

  .dds-text-input {
    width: 100%;

    input {
      border: none;
      margin-top: 0;
    }
  }

  button {
    position: absolute;
    padding: 0;
    right: 5px;
    top: 8px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
}

.dds-nav-search-item {
  align-items: center;
  display: flex;

  .dds-header-search-toggle {
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    padding: 0 22px;
    display: none;
    color: color($theme-color-base);

    @include at-media(desktop-lg) {
      display: block;
    }
  }

  .dds-search-form-wrapper {
    position: absolute;
    z-index: 1000;
    bottom: -70px;
    right: 0;
    width: 450px;
    padding: 16px;
    visibility: hidden;
    background-color: color("primary-lighter");

    button {
      display: none;
    }
  }
}

.dds-nav-search-item.dds-nav-search-item-open {
  .dds-header-search-toggle {
    background-color: color("primary");
    cursor: pointer;
    border-top-left-radius: units(1);
    border-top-right-radius: units(1);
    color: #fff;
  }

  .dds-search-form-wrapper {
    visibility: visible;
    animation: fadeIn ease 0.3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.header-drawer-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: color("primary");
  margin-bottom: units(2);
  padding: units(3) units(2);

  @include at-media(desktop-lg) {
    display: none;
  }

  .usa-nav__close {
    margin: 0;
    font-size: 1.5em;
    font-weight: 100;
    color: #fff;
  }

  .dds-search-form-wrapper {
    flex-grow: 1;
  }
}
