.dds-news-item {
  padding-bottom: units(3);
  font-size: 24px;
  line-height: 28px;
  height: 100%;

  a {
    color: color("primary-vivid");
    text-decoration: none;
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: underline;
  }

  .dds-post-date {
    margin-top: 4px;
  }
}
