<div class="footer-bar">
</div>
<footer id="footer">
  <div class="usa-grid">
    <div class="usa-width-one-fourth">
      <a href="/"><img class="dds-logo" alt="The logo of the Defense Digital Service" src="/assets/img/layout/logo-desktop-full.png" /></a>
      <a href="http://defense.gov"><img class="dod-logo" alt="The logo of the Department of Defense" src="/assets/img/layout/logo-dod.png" /></a>
      <br>
      <h2>U.S. Digital Service Teams</h2>
      <ul>
        <li><a href="https://www.usds.gov">U.S. Digital Service</a></li>
        <li><a href="https://www.dds.mil">Defense Digital Service</a></li>
      </ul>
    </div>
    <div class="usa-width-one-fourth">
      <h2>Follow us</h2>
      <ul>
        <li>
          <a href="{{ site.twitter_url }}"><span class="fa fa-2x fa-twitter" aria-hidden="true" title="Twitter"></span><span class="sr-only">Twitter</span></a>
          <a href="{{ site.medium_url }}"><span class="fa fa-2x fa-medium" aria-hidden="true" title="Medium"></span><span class="sr-only">Medium</span></a>
          <a href="https://github.com/deptofdefense/"><span class="fa fa-2x fa-github" aria-hidden="true" title="Github"></span><span class="sr-only">Github</span></a>
        </li>
      </ul>
      <br>
      <h2>Contact us</h2>
      <ul>
        <li>Defense Digital Service</li>
        <li>9010 Defense Pentagon</li>
        <li>Washington, DC 20301</li>
        <li><a href="mailto:feedback@dds.mil?subject=Feedback">feedback@dds.mil</a></li>
      </ul>
    </div>
    <div class="usa-width-one-fourth">
      <h2>Tech resources</h2>
      <ul>
        <li><a href="https://playbook.cio.gov/">Digital Services Playbook</a></li>
        <li><a href="https://standards.usa.gov/">U.S. Web Design Standards</a></li>
        <li><a href="https://playbook.cio.gov/techfar/">TechFAR Handbook</a></li>
      </ul>
    </div>
    <div class="usa-width-one-fourth">
      <h2>Other links</h2>
      <ul>
        <li><a href="/privacy.html">Privacy Policy</a></li>
        <li><a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Accessibility/Section 508</a></li>
        <li><a href="http://open.defense.gov/Transparency/FOIA.aspx">FOIA</a></li>
        <li><a href="http://prhome.defense.gov/NoFear/">No FEAR Act</a></li>
        <li><a href="https://www.usa.gov/">USA.gov</a></li>
      </ul>
    </div>
  </div>
</footer>
