<div class="footer-bar">
</div>
<footer id="footer">
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <a href="https://usds.gov"><img class="usds-logo" alt="The logo of the United States Digital Service" src="/assets/img/layout/logo-usds-footer-2x.png" /></a>
      <a href="http://defense.gov"><img class="dod-logo" alt="The logo of the Department of Defense" src="/assets/img/layout/logo-dod.png" /></a>
    </div>
    <div class="usa-width-one-third">
      <h2>Follow us</h2>
      <ul>
        <li>
          <a href="{{ site.twitter_url }}"><span class="social-media-link">Twitter</span></a>
          <a href="{{ site.medium_url }}"><span class="social-media-link">Medium</span></a>
          <a href="{{ site.linkedin_url }}"><span class="social-media-link">Linkedin</span></a>
          <a href="{{ site.github_url }}"><span class="social-media-link">Github</span></a>
        </li>
      </ul>
      <br>
      <h2>Contact us</h2>
      <ul>
        <li><a href="mailto:feedback@dds.mil?subject=Feedback">feedback@dds.mil</a></li>
      </ul>
      <br>
      <h2>Tech resources</h2>
      <ul>
        <li><a href="https://playbook.cio.gov/">Digital Services Playbook</a></li>
        <li><a href="https://standards.usa.gov/">U.S. Web Design Standards</a></li>
        <li><a href="https://playbook.cio.gov/techfar/">TechFAR Handbook</a></li>
      </ul>
      <br>
    </div>

    <div class="usa-width-one-third">
      <h2>Other links</h2>
      <ul>
        <li><a href="/privacy.html">Privacy Policy</a></li>
        <li><a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Accessibility/Section 508</a></li>
        <li><a href="http://open.defense.gov/Transparency/FOIA.aspx">FOIA</a></li>
        <li><a href="http://prhome.defense.gov/NoFear/">No FEAR Act</a></li>
        <li><a href="https://www.usa.gov/">USA.gov</a></li>
      </ul>
    </div>
  </div>
</footer>
