<header id="fixed-header" class="dds-site-header collapsed">
  <div class="usa-disclaimer-small">
    <div class="usa-disclaimer-member">
      <p>DDS is a member of the <a href="https://www.usds.gov">U.S. Digital Service</a></p>
    </div>
  </div>

  <div class="dds-navbar">
    <div class="dds-logo">
      <a href="/">
        <img alt="The logo of the Defense Digital Service" src="/assets/img/layout/logo-desktop-full.png" />
        <em>Defense Digital Service</em>
      </a>
    </div>
  </div>
</header>
