<header id="fixed-header" class="dds-site-header">
  <div class="usa-disclaimer-small">
    <div class="usa-disclaimer-member">
      <p>DDS is a member of the <a href="https://www.usds.gov">U.S. Digital Service</a></p>
    </div>
  </div>

  <div class="dds-navbar">
    <div class="dds-logo">
      <a href="/">
        <img alt="The logo of the Defense Digital Service" src="/assets/img/layout/logo-desktop-full.png" />
        <em>Defense Digital Service</em>
      </a>
    </div>

    <nav class="dds-mobile-nav-toggle mobile-nav-hidden">Menu</nav>

    <nav class="dds-nav mobile-nav-hidden">
      <ul>
        <li>
          <a href="/#about">About</a>
        </li>
        <li>
          <a href="/#our-work">Projects</a>
        </li>
        <li>
          <a href="/#our-team">Team</a>
        </li>
        <li>
          <a href="/#join">Join Us</a>
        </li>
        <li>
          <a href="/marketplace/">Marketplace</a>
        </li>
        <li>
          <a href="/#news">News</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
