.cta-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;

  @include at-media(tablet) {
    flex-direction: row;
  }

  a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;

    @include at-media(tablet) {
      width: 40%;
    }
  }

  .cta-details {
    width: 100%;
    color: color("base-darkest");
    line-height: 33px;
    font-size: 22px;
    margin-bottom: units(4);

    @include at-media(tablet) {
      width: 60%;
      margin-bottom: 0;
      padding-right: units(5);
    }
  }
}

.cta-section.has-accent {
  padding-top: 64px;
}
