.hero {
  position: relative;
  min-height: 225px;

  .gatsby-image-wrapper {
    height: 225px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: 640px) {
      height: 100%;
      width: 100%;
      position: absolute !important;
    }
    @media screen and (max-width: 640px) {
      display: none !important;
    }

  }

  .hero-inner {
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    @media screen and (min-width: 640px) {
      padding: units(5) 0;
      min-height: 225px;
    }

  .video {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
    }
    .hero-card {
      background-color: rgba(color("blue-warm-70v"), 0.9);
      padding: units(5) units(3);
      width: 100%;

      @include at-media(tablet) {
        max-width: 75%;
      }
      @include at-media(desktop) {
        max-width: 800px;
      }

      .hero-card-cta {
        background-color: transparent;
        color: color("base-lighter");
        border-color: color("base-lighter");
        border-radius: 4px;
        padding: units(1) units(4);
        font-weight: bold;
        margin-top: units(4);
        font-size: size("body", "sm");
        cursor: pointer;
      }

      .hero-card-cta:hover,
      .hero-card-cta:active {
        border-color: #fff;
      }

      .hero-card-cta:active {
        color: #fff;
      }

      h1 {
        margin: 0;
        color: #fff;
        font-size: size("body", "xl");
      }

      h2 {
        margin-bottom: 0;
        color: #fff;
        font-size: size("body", "lg");
      }
    }
  }

  .hero-inner.hero-inner-expanded {
    @include at-media(tablet) {
      padding: units(7) units(7);
      max-width: $content-max-width;
      margin: auto;
    }

    @include at-media(desktop) {
      padding: units(9) units(7);
      max-width: $content-max-width;
      margin: auto;
    }

    @include at-media(widescreen) {
      padding: 6rem units(7);
    }

    .hero-card {
      @include at-media(tablet) {
        max-width: 500px;
        padding: units(5);
      }

      h1 {
        font-size: size("body", "2xl");
      }
    }
  }
}
