.markdown-body {
  @include u-font-family("sans");

  * {
    font-size: 1.3rem;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: units(2);
  }

  h3 {
    // line-height: 2rem;
    font-size: 1.5rem;
  }

  h2 {
    font-size: size("body", "xl");
  }

  a {
    color: rgb(0, 80, 216);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    // color: color("primary-vivid");
  }

  blockquote {
    margin: 0;

    p {
      width: 100%;
      padding: units(1) units(2);
      margin: units(3) auto;
      border-left: 5px solid color("primary-lighter");

      @include at-media(desktop) {
        max-width: 90%;
      }
    }
  }

  .gatsby-resp-iframe-wrapper {
    margin: units(1) 0;
  }

  :first-child {
    margin-top: 0;
  }
}
