.markdown-body {
  @include u-font-family("sans");
  font-size: 1.1rem;

  :first-child {
    margin-top: 0;
  }

  p,
  ul,
  ol {
    font-size: 1.1rem;
    line-height: 1.6;
    line-height: 1.6;
  }

  blockquote {
    margin: 0;

    p {
      width: 100%;
      padding: units(1) units(2);
      margin: units(3) auto;
      border-left: 5px solid color("primary-lighter");

      @include at-media(desktop) {
        max-width: 90%;
      }
    }
  }
}
