.text-info-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: units(5);

  .text-info-section-primary {
    width: 100%;
    margin-bottom: units(4);

    @include at-media(desktop) {
      padding-right: units(5);
      width: 60%;
      margin-bottom: 0;
    }
  }

  .text-info-section-callout {
    width: 100%;
    margin-top: units(5);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include at-media(desktop) {
      margin-top: 0px;
      padding: 0 units(4);
      width: 40%;
    }

    a {
      display: block;
      width: 100%;
    }

    .text-info-section-callout-content {
      font-size: size("body", "lg");
      line-height: 33px;
      width: 100%;

      h1 {
        font-size: size("body", "2xl");
        font-weight: normal;
        line-height: 48px;
      }

      h2 {
        font-size: size("body", "xl");
        font-weight: normal;
        line-height: 48px;
      }

      * {
        margin-top: 0;
      }
      :last-child {
        margin-bottom: 0;
      }
    }
  }

  .text-info-section-callout::before {
    content: "";
    position: absolute;
    left: 0;
    right: units(3);
    top: -40px;
    height: 14px;
    background-color: color($theme-color-accent-cool);

    @include at-media(desktop) {
      left: units(1);
    }
  }

  .text-info-section-callout.force-down::before {
    @include at-media(desktop) {
      content: "";
      width: 100%;
      position: relative;
      margin-right: units(3);
      top: 0;
      margin-bottom: 40px;
      margin-top: 0;
      height: 14px;
      background-color: color($theme-color-accent-cool);
      margin-left: -8px;
    }
  }
}
