.dds-cta-btn {
  background-color: color("accent-cool");
  font-size: 22px;
  border: none;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: units(3) 0;

  @include at-media(desktop) {
    width: auto;
    padding: units(2) units(5);
  }

  @include at-media(desktop) {
    width: auto;
    padding: units(3) units(8);
  }
}

.dds-cta-btn.width-full {
  width: 100%;
}
