.usa-banner__inner {
  max-width: $content-max-width;

  @include at-media(desktop) {
    padding-left: units(5);
  }
}

.usa-header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;

  .usa-nav-container {
    justify-content: space-between;
    align-items: center;
    padding-top: units(3);
    padding-bottom: units(3);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: $content-max-width;

    @include at-media(desktop) {
      padding-left: units(5);
      padding-right: units(5);
    }
  }
}

.usa-navbar {
  border: none;

  .usa-menu-btn,
  .usa-menu-btn:hover {
    color: color($theme-color-primary);
    font-size: size("body", "xl");
    font-weight: 100;
    background-color: unset;
    margin-right: units(2);
  }

  .usa-logo {
    @include at-media(desktop) {
      margin: 0;
    }

    a {
      color: color($theme-color-primary);
    }
  }
}

.usa-nav {
  background-color: rgb(35, 120, 195);
  color: #fff;
  width: 17rem;

  @include at-media(desktop) {
    background-color: transparent;
    color: inherit;
    width: 100%;
  }

  .usa-nav__primary {
    margin-top: 0;

    .usa-nav__primary-item {
      border-top: none;

      a {
        font-family: family("sans");
        background-color: transparent;
        color: white;
        font-weight: $theme-font-weight-light;

        @include at-media(desktop) {
          font-weight: bold;
          font-size: 17px;
          color: color($theme-color-base);
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      a:hover,
      a.usa-current {
        font-weight: bolder;

        @include at-media(desktop) {
          color: color("blue-50v");
          font-weight: bold;
        }
      }

      a:hover::after,
      a.usa-current::after {
        background-color: #fff;
        width: 0.15em;

        @include at-media(desktop) {
          background-color: color("blue-40v");
          bottom: 0em;
          width: auto;
        }
      }
    }

    .usa-nav__primary-item.header-subnav-item {
      margin-left: units(2);
      @include at-media(desktop) {
        display: none;
      }
    }
  }

  .usa-nav__close {
    margin: 0;
    margin-left: auto;
    font-size: 1.3em;
    font-weight: 100;
  }
}
