.hero-img {
  position: relative;
  height: 225px;
  width: 100%;

  @include at-media(tablet) {
    position: absolute !important;
  }
}

.hero-inner {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: 100;
  height: 225px;
  display: none;
  max-width: $content-max-width;

  @include at-media(tablet) {
    padding: units(2) units(5);
    display: flex;
    align-items: center;
  }

  @include at-media(desktop) {
    padding: units(8);
  }

  .hero-card {
    // background-color: color("blue-warm-70v");
    background-color: rgba(color("blue-warm-70v"), 0.9);
    width: 100%;
    height: 100%;
    padding: units(5) units(3);

    @include at-media(tablet) {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: units(5);
    }

    .hero-card-header {
      color: #fff;
      font-size: size("body", "2xl");
      margin: 0;
      margin-bottom: units(4);
      width: 100%;
    }

    .hero-card-cta {
      background-color: transparent;
      color: color("base-lighter");
      border-color: color("base-lighter");
      border-radius: 4px;
      padding: units(1) units(4);
      font-weight: bold;
      font-size: size("body", "sm");
      cursor: pointer;
    }

    .hero-card-cta:hover,
    .hero-card-cta:active {
      color: #fff;
      border-color: #fff;
    }
  }
}

.hero-inner.with-hero-card,
.hero-img.with-hero-card {
  display: block;
  height: auto;

  @include at-media(tablet) {
    display: flex;
    height: 40vh;
  }

  @include at-media(desktop) {
    height: 60vh;
  }
}
