.info-section {
  color: #fff;
  padding: units(7) units(3);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: $content-max-width;

  @include at-media(tablet) {
    padding: units(7) units(5);
  }

  @include at-media(desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .info-section-item {
    width: 100%;
    max-width: none;
    padding: 0 units(2);
    line-height: 33px;
    font-size: size("body", "lg");

    @include at-media(desktop) {
      padding-bottom: 0;
      max-width: 400px;
    }

    .info-section-heading {
      display: flex;
      align-items: center;
      margin-bottom: units(2);

      h3 {
        width: 100%;
        font-size: size("body", "xl");
        padding-left: units(2);
        margin: 0;
      }

      @include at-media(desktop) {
        flex-direction: column;
        align-items: flex-start;

        h3 {
          padding-left: 0;
          margin-top: units(2);
        }
      }
    }

    p {
      font-weight: 200;
      margin: 0;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      display: block;
      margin-top: units(3);
    }

    a:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  .info-section-item + .info-section-item {
    padding-top: units(7);

    @include at-media(desktop) {
      padding-top: 0;
    }
  }

  .info-section-item.info-section-smaller {
    @include at-media(desktop) {
      font-size: 17px;
      line-height: 25px;
    }

    .info-section-heading {
      .info-section-icon {
        @include at-media(desktop) {
          height: 120px;
          width: 120px;
          padding: units(2);

          svg,
          .info-section-image-inner {
            width: 60px;
          }
        }
      }
    }

    h3 {
      @include at-media(desktop) {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }
}

.info-section-icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 2px solid color("blue-warm-40v");
  border-radius: 50%;
  height: 80px;
  width: 80px;

  .info-section-image-inner,
  svg {
    width: 40px;
    margin: auto;
  }

  @include at-media(desktop) {
    height: 150px;
    width: 150px;
    padding: units(3);

    svg,
    .info-section-image-inner {
      width: 75px;
    }
  }
}
