.info-section {
  background-color: color("blue-warm-60");
  color: #fff;
  padding: units(7) units(3);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include at-media(tablet) {
    padding: units(7) units(5);
  }

  @include at-media(desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .info-section-item {
    max-width: none;
    padding: 0 units(2);
    padding-bottom: units(7);
    line-height: 33px;
    font-size: size("body", "lg");

    @include at-media(desktop) {
      padding-bottom: 0;
      max-width: 400px;
    }

    .info-section-heading {
      display: flex;
      align-items: center;
      margin-bottom: units(2);

      h3 {
        font-size: size("body", "xl");
        padding-left: units(2);
        margin-bottom: 0;
      }

      @include at-media(desktop) {
        margin-top: units(2);
        flex-direction: column;
        align-items: flex-start;

        h3 {
          padding-left: 0;
        }
      }
    }

    p {
      font-weight: 200;
      margin: 0;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      display: block;
      margin: units(3) 0;
    }

    a:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  .info-section-item.info-section-smaller {
    @include at-media(desktop) {
      font-size: 17px;
      line-height: 25px;
    }

    .info-section-heading {
      .info-section-icon {
        @include at-media(desktop) {
          height: 120px;
          width: 120px;
          padding: units(2);

          svg {
            height: 60px;
            width: 60px;
          }
        }
      }
    }

    h3 {
      @include at-media(desktop) {
        font-size: 28px;
        line-height: 34px;
      }
    }
  }
}

.info-section-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid color("blue-warm-40v");
  border-radius: 50%;
  height: 80px;
  width: 80px;

  svg {
    height: 40px;
    width: 40px;
    margin: auto;
  }

  @include at-media(desktop) {
    height: 150px;
    width: 150px;
    padding: units(3);

    svg {
      height: 75px;
      width: 75px;
    }
  }
}
