/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: "../../node_modules/uswds/src/img";
$theme-font-path: "../../node_modules/uswds/src/fonts";

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: "#{$theme-image-path}/hero.png";

// Your custom changes to variables go here
// Uncomment to see this working
// $theme-color-primary-darker: 'black';
$theme-show-notifications: false;
$theme-color-base-lightest: "gray-cool-2";
$theme-font-weight-heavy: 900;
$theme-font-weight-semibold: 500;
$theme-font-weight-light: 300;

@import "uswds";
@import "./header.scss";
@import "./cms.scss";

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: color($theme-color-base-lightest);
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
