/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: "../../node_modules/uswds/src/img";
$theme-font-path: "../../node_modules/uswds/src/fonts";

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: "#{$theme-image-path}/hero.png";

// Your custom changes to variables go here
// Uncomment to see this working
$theme-color-base-lightest: "gray-cool-2";
$theme-color-base-darker: "gray-warm-70";
$theme-font-weight-thin: 200;
$theme-font-weight-heavy: 900;
$theme-font-weight-semibold: 500;
$theme-font-weight-light: 300;
$theme-font-type-sans: "public-sans";
$theme-header-min-width: "desktop-lg";
$content-max-width: 1400px;
$desktop-pad-section-y: 64px;

$theme-show-notifications: false;
$theme-show-compile-warnings: false;

// Import required global packages
@import "~uswds/dist/scss/packages/required";
@import "~uswds/dist/scss/packages/global";

@import "~uswds/dist/scss/packages/uswds-utilities";
@import "~uswds/dist/scss/packages/usa-banner";
@import "~uswds/dist/scss/packages/usa-header";
@import "~uswds/dist/scss/packages/form-controls";
@import "~uswds/dist/scss/packages/usa-sidenav";

@import "./layout.scss";
@import "./sections";
@import "./components";
@import "./pages";

html,
body {
  min-height: 100%;
  width: 100%;
  background-color: color($theme-color-base-lightest);
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
