.dds-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 1px;

  .dds-layout-content {
    flex: 1 0 auto;

    .dds-sidebar-layout {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin: units(5) auto;
      padding: 0 units(3);
      max-width: $content-max-width;

      @include at-media(tablet) {
        margin: units(7) auto;
        padding: 0 units(5);
      }
      @include at-media(desktop) {
        padding: 0 units(7);
      }

      .dds-sidebar {
        flex: 0 0 300px;
        display: none;
        position: sticky;
        top: 2rem;

        @media screen and (min-width: 1280px) {
          display: block;
        }
      }

      .dds-sidebar-content {
        padding: 0 0;
        width: 100%;
        flex: 1 1 auto;

        :first-child {
          margin-top: 0;
        }

        @media screen and (min-width: 1280px) {
          padding: 0 units(5);
        }

        .dds-section-container > .dds-section-inner {
          padding: 0;
        }
      }
    }
  }
}

.dds-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: units(5);

  @include at-media(desktop) {
    margin-top: 64px;
  }

  .dds-section-inner {
    width: 100%;
    max-width: $content-max-width;
    padding: 0 units(3);

    @include at-media(tablet) {
      padding: 0 units(5);
    }

    @include at-media(desktop) {
      padding: 0 units(7);
    }
  }
}

.dds-section-container.accent-blue {
  background-color: color("blue-warm-60");
}
.dds-section-container.accent-base {
  background-color: color("base-lighter");
}
.dds-section-container.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dds-section-container.accent-yellow {
  background-color: #fff200;
}

.dds-footer {
  background-color: #3a424e;
}
