.text-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: units(5) units(3);

  @include at-media(tablet) {
    padding: units(7) units(5);
  }

  @include at-media(desktop) {
    padding: 96px units(7);
  }

  .text-info-primary {
    width: 100%;
    margin-bottom: units(4);

    @include at-media(desktop) {
      padding-right: units(5);
      padding-top: 5px;
      width: 60%;
      margin-bottom: 0;
    }

    p {
      font-size: size("body", "lg");
      line-height: 33px;
      margin-top: 0;
      margin-bottom: units(2);

      a {
        text-decoration: none;
        color: color("accent-cool-dark");
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .text-info-callout {
    width: 100%;
    margin-top: units(5);
    position: relative;
    font-size: size("body", "xl");
    line-height: 48px;
    box-sizing: border-box;

    * {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    @include at-media(desktop) {
      margin-top: 0px;
      padding: 0 units(5);
      width: 40%;
    }
  }

  .text-info-callout::before {
    content: "";
    position: absolute;
    left: 0;
    right: units(3);
    top: -40px;
    height: 14px;
    background-color: color($theme-color-accent-cool);

    @include at-media(tablet) {
      left: units(1);
    }
  }
}
