---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bourbon";
@import "neat";
@import "mixins";

$background-color:                      #ffffff;
$background-color-secondary:            #c32619;
$color-primary-darkest:                 #122d5d;
$color-primary-alt-light:               #5fa4cf;
$color-link-blue:                       #0071bc;


$desktop-nav-width:                     670px;
$fixed-header-height-desktop:           153px;
$fixed-header-height-desktop-collapsed: 64px;
$fixed-header-height-mobile:            80px;

$height-nav-secondary: 3rem;

$screen-xs-min:                         600px;
$screen-xs-max:                         767px;
// Tablets
$screen-sm-min:                         768px;
$screen-sm-max:                         991px;
// Medium desktops
$screen-md-min:                         992px;
$screen-md-max:                         1199px;
// Large desktops
$screen-lg-min:                         1200px;

$site-margins: 3rem;
$site-margins-mobile: 1.5rem;

$font-path: "../uswds/fonts";

@import "uswds/all";
@import "dds";
