---
layout: index
title: Defense Digital Service
---

<section class="jumbotron">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <div class="jumbotron-text">
        <h1>
          Transforming technology within the <br> Department of Defense
        </h1>
      </div>
    </div>
  </div>
</section>

<section id="about" class="background-statement usa-grid">
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <h2>Solving big problems.<br />Supporting critical missions.</h2>
      <p>The Defense Digital Service (DDS) is an agency team of the <a href="https://www.usds.gov">U.S. Digital Service</a>. We hire top technologists on term-limited "tours of duty" to help build better services and solutions. Our mission is to drive a giant leap forward in the way the Department builds, buys and deploys technology and digital services.</p>
    </div>
  </div>
</section>

<section id="our-work" class="our-work ">

  <div class="usa-grid">
    <div class="section-rule"></div>
    <div class="usa-width-two-thirds">
      <h2>Our work</h2>
      <p>The Department of Defense defends and protects our nation's military and civilians across the globe. However, complex systems and outdated tools can hinder this mission. We use design and technology to improve government services, strengthen national defense, and care for military members and their families. Explore some of our projects below.</p>
    </div>
  </div>

  <div class="usa-grid">
  {% for project in site.data.projects %}
    <div class="project dds-default-item usa-width-one-third">
      <img src="{{ project.img_url }}" alt="{{ project.img_description }}">
      <h3>{{ project.title }}</h3>
      <p>{{ project.project_description }}</p>
    </div>
  {% endfor %}
  </div>
</section>

<section id="our-team" class="staff-members">
  <div class="usa-grid">
    <div class="section-rule"></div>
    <div class="usa-width-two-thirds">
      <h2>Our team</h2>
      <p>The Defense Digital Service is a SWAT team of nerds working to improve technology across the Department of Defense. We hire world-class designers, engineers, product managers, and bureaucracy hackers from diverse backgrounds to work on high-impact projects at the Pentagon and across the globe. Team members develop code, manage technical projects or product releases, and rewire outdated IT approaches.</p>
    </div>
  </div>
</section>

<section id="join" class="join-us">
  <div class="usa-grid">
    <div class="section-rule"></div>
    <div class="usa-width-two-thirds">
      <h2>Apply to USDS</h2>
      <p>The best of technology. The best of government— and we need you.</p>
      <p>The Defense Digital Service is an agency team of the U.S. Digital Service. Applicants should apply through USDS and note their interest in working for DDS.</p>
      <a class="join-button" href="https://www.usds.gov/join">Apply now</a>
    </div>
  </div>
</section>

<section id="tdy" class="join-us">
  <div class="usa-grid">
    <div class="section-rule"></div>
    <div class="usa-width-two-thirds">
      <h2>Our partners</h2>
      <p>We work alongside service members and civil servants across the Defense Department. DOD civilians and military members with technical expertise can apply to work with DDS on short-term details.</p>
      <a class="join-button" href="https://hire.withgoogle.com/public/jobs/ddsmil/view/P_AAAAAAEAAF3KkxWUnRXoHq">TDY to DDS</a>
    </div>
  </div>
</section>

<section id="news" class="news">
  <div class="usa-grid">
    <div class="section-rule"></div>
    <div class="usa-width-two-thirds">
      <h2>DDS in the News</h2>
      <p>Follow us  <a href="{{ site.twitter_url }}">Twitter</a> or <a href="{{ site.medium_url }}">Medium</a> to read more about our latest adventures.</p><p>&nbsp;</p>
    </div>
  </div>

  <div class="press">
    <div class="usa-grid">
      {% for story in site.data.press %}
      <div class="story dds-default-item usa-width-one-third">
        <a href="{{ story.press_url }}">
          {{ story.title }}<br>
          <span class="author">{{ story.author }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
