---
layout: index
title: Defense Digital Service
---

<section class="jumbotron">
  <div class="jumbotron-text">
    <h1>
      Transforming technology within the <br> Department of Defense
    </h1>
  </div>
</section>

<section id="about" class="background-statement usa-grid">
  <div class="usa-width-one-whole">
    <h2>Solving big problems. Supporting critical missions.</h2>
  </div>

  <div class="usa-width-one-whole">
    <div class="page-width-70">
      <p>
        The Defense Digital Service (DDS) is an agency team of the <a href="https://www.usds.gov">U.S. Digital Service</a>. We use design and technology to improve government services and support national defense.
      </p>
      <p>
        The Department of Defense defends and protects our nation's military and civilians across the globe. However, oftentimes progress may be hindered by outdated systems and technology. We hire top technologists for short-term "tours of civic duty" to work alongside civil servants and service members to transform technology across the Department.
      </p>
    </div>
  </div>
</section>

<section id="our-work" class="our-work usa-grid">
  <div class="usa-width-one-whole">
    <h2>Our work</h2>
    <br>
  </div>

  <div class="dds-grid">
  {% for project in site.data.projects %}
    <div class="project dds-default-item">
      <img src="{{ project.img_url }}" alt="{{ project.img_description }}">
      <h3>{{ project.title }}</h3>
      {{ project.project_description }}
    </div>
  {% endfor %}
  </div>
</section>

<section id="our-team" class="staff-members usa-grid">
  <div class="usa-width-one-whole">
    <h2>Our team</h2>
    <p class="page-width-70">
      We hire world-class designers, engineers, product managers, and bureaucracy hackers from diverse backgrounds for short-term, high-impact 'tours of service' at the Pentagon. Our team develops code, manages technical projects or product releases, and rewires outdated IT approaches.
    </p>
  </div>
</section>

<section id="join" class="join-us usa-grid">
  <div class="usa-grid">
    <div class="join-usds usa-width-one-whole">
      <h2>Apply to USDS</h2>
      <div class="page-width-70">
        <p>The best of technology. The best of government— and we need you.</p>
        <p>The Defense Digital Service is an agency team of the U.S. Digital Service. Applicants should note their interest in working for DDS.</p>
      </div>

      <a class="join-button" href="https://www.usds.gov/join">Apply Now</a>
    </div>
  </div>
</section>

<section id="tdy" class="join-us usa-grid">
  <div class="usa-grid">
    <div class="join-usds usa-width-one-whole">
      <h2>Opportunities for technical talent within the Department of Defense</h2>
      <div class="page-width-70">
      <p>We work alongside service members and civil servants across the Defense Department. Civilians and military members with technical expertise can apply to work with DDS on short-term details.</p>
      <a class="join-button" href="https://hire.withgoogle.com/public/jobs/ddsmil/view/P_AAAAAAEAAF3KkxWUnRXoHq">TDY to DDS</a>
    </div>
  </div>
</section>

<section id="news" class="news usa-grid">
  <div class="usa-width-one-whole">
    <h2>News and updates</h2>
    <p class="page-width-70">
      Follow us  <a href="{{ site.twitter_url }}">Twitter</a> or <a href="{{ site.medium_url }}">Medium</a> to read more about our latest adventures.
    </p>
    <br>
  </div>

  <div class="press">
    <div class="dds-grid">
      {% for story in site.data.press %}
      <div class="story dds-default-item">
        <a href="{{ story.press_url }}">
          {{ story.title }}<br>
          <span class="author">{{ story.author }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
