---
layout: minimal
---
<br>

<div class="usa-grid">
  <div class="usa-whole-page">
    <h1>Defense Digital Service Privacy Policy</h1>
    <p>Updated: August 18, 2016</p>

    <p>The Defense Digital Service site is provided to the public by the Department of Defense</p>

    <p>The Defense Digital Service is committed to protecting individual privacy and securing the personal information made available to us when you visit DDS.mil (the Defense Digital Service Site). This Privacy Policy describes what information is made available to the Defense Digital Service and how that information is used and shared.</p>

    <h2>Information from Visits to DDS.mil</h2>
    <p><b>Automatically Collected.</b> When you visit DDS.mil, information is automatically received and stored by the web servers hosting DDS.mil, including: </p>
      <ul>
        <li>The originating <a href="https://www.whitehouse.gov/privacy#ip">Internet Protocol (IP)</a> address;</li>
        <li>The internet <a href="https://www.whitehouse.gov/privacy#domain">domain name</a>;</li>
        <li>The date and time of your visit;</li>
        <li>Information about your computer or mobile set-up (e.g. type and version of web browser, operating system, screen resolution, language, and connection speed);</li>
        <li>The pages on DDS.mil that you visit, the time spend on each page, and scroll depth (how much of a page you viewed);</li>
        <li>User events (e.g. a click);</li>
        <li>The internet address, or URL, of the website that connected you to our site, if you accessed DDS.mil via a link on another page (i.e. &#8220;referral traffic&#8221;); and</li>
        <li>The amount of data transmitted from DDS.mil to your computer.</li>
      </ul>
    <p>
      <b>Cookies.</b> The Defense Digital Service only uses web measurement persistent and customization technologies, such assession cookies, for analytics purposes. You can get more information about how our analytics provider, Google Analytics, uses cookies that are on our site at <a href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a>.  You can choose not to accept cookies from any website, including DDS.mil, by changing your browser settings.For more information on cookies generally and opting out, see <a href="https://www.usa.gov/optout-instructions">https://www.usa.gov/optout-instructions</a>. You will still be able to access the information on DDS.mil if you choose to opt-out of accepting cookies from our site.
    </p>

    <h2>Information You Give Us</h2>
    <p><b>Generally</b>You do not have to provide the Defense Digital Service with any personal information or create a user account to access information on DDS.mil. </p>
    <p><b>Third-party Sites.</b>The Defense Digital Service maintains official pages or accounts on third-party websites in order to better engage with the American public (these are generally social media). You can submit or publish information to these sites that the Defense Digital Service will receive, for example by sending a message, posting a comment, &#8220;following,&#8221; &#8220;friending,&#8221;  or taking similar actions. This information may contain personal information, such as an individual&#8217;s username and other public account information, when such information is available based on your privacy settings and the terms of the site.</p>
    <p><b>Direct communication</b>You can also send us feedback directly by the methods described under "Contact us" in the footer. This feedback is voluntary.</p>

    <h2>How Information is Used</h2>
    <p><b>Generally.</b> If you choose to provide us with information, we may use that information to contact you or respond to your message. In order to serve you better, we may analyze multiple sources of data you have provided (for example,  to look up whether you previously contacted the Defense Digital Service about the same topic so that we do not send you a duplicative response). We may also use messages or comments collected through DDS.mil or official third-party pages to inform policy decisions or in public advocacy.</p>
    <p><b>Aggregated.</b> We may use data you provide and automatically generated data for statistical analysis to assess, for example,  what information is of interest to users, technical design specifications, and system performance. This allows us to make general improvements to our site and program.We will not link automatically collected information about your site visits with your personally identifiable information.</p>

    <h2>Sharing of this Information</h2>
    <p><b>Generally.</b> Information you choose to share with the Defense Digital Service (directly and via third-party sites) may be treated as public information. We may, for example, publish compilations of messages or comments collected through official social media pages and provide them to national leaders, members of the press, or other individuals outside of the Federal Government. However, we exercise discretion to limit such disclosures to protect your privacy (for example, we generally do not publish last names of commenters).</p>
    <p><b>Internally.</b> Within the Defense Digital Service, we restrict access to non-public personally identifiable information to employees,  contractors, and vendors who require access to this information in order to perform their official duties and exercise controls to limit what data they can view based on the specific needs of their position. Access to official Defense Digital Service accounts on third-party sites is limited to the individuals who administer those accounts.</p>
    <p><b>Additional Government Use.</b> In some cases, we may share information you have provided or automatically generated information with other government agencies in response to lawful law enforcement requests or to protect DDS.mil from security threats. Additionally, if you seek assistance on a matter within the jurisdiction of a federal agency, we may share your information with that agency for the limited purpose of addressing your request for assistance.</p>
    <p><b>Analytics.</b> The Defense Digital Service uses a third-party analytics provider (currently Google Analytics) to analyze data from cookies. The third-party analytics provider does not receive personally identifiable information through these cookies. We have also limited the provider&#8217;s ability to see your full IP address (a process known as &#8220;IP masking&#8221;).  You can get more information about how Google Analytics uses cookies that are on our site at <a href="https://www.google.com/policies/privacy/partners/">https://www.google.com/policies/privacy/partners/</a>,  or review Google Analytics privacy policy (<a href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a>)  for additional information. </p>
    <p><b>Other Sharing.</b> We do not use or share your information for commercial purposes.</p>

    <h2>Third-Party Sites</h2>
    <p><b>Third-Party Policies.</b> Your activity on those sites is governed by the website&#8217;s security and privacy policies. Users of third-party sites often share information with the general public, user community, and/or the third-party operating the site.  Consequently, you should review the privacy policies of third-party sites before using them and ensure that you understand how your information may be shared and used. You should also adjust privacy settings on your account on any third-party site to match your preferences. All official Defense Digital Service accounts are clearly labeled</p>
    <p><b>Analytics.</b> For aggregate statistical analysis and to improve the quality of our services, we may integrate web measurement tools with our social media pages. These tools enable basic analysis of social media traffic (such as the number of people visiting a certain page).</p>
    <p id="external-links"><b>Links to External Sites.</b> DDS.mil and other Defense Digital Service platforms and pages may link to websites created and maintained by other public or private organizations and individuals. When you follow a link to an external site, you are leaving DDS.mil and are subject to the external site&#8217;s privacy and security policies. We do not control or guarantee the accuracy, relevance, timeliness, or completeness of information contained on an external site. We also do not endorse the site&#8217;s sponsor, any views they express, or any products or services they offer.</p>

    <h2>Data Retention</h2>
    <p>Under the Federal Records Act, the Defense Digital Service is required to retain some information that users submit or publish when engaging with the Defense Digital Service, for eventual transfer to the National Archives and Records Administration (NARA). NARA may eventually release this material to the public.</p>

    <h2>Children and Privacy </h2>
    <p>We believe in the importance of protecting the privacy of children online. The Children&#8217;s Online Privacy Protection Act governs information gathered online from or about children under the age of 13.  Verifiable consent from a child&#8217;s parent or guardian is required before collecting, using, or disclosing personal information from a child under age 13. Our site is not intended to solicit information of any kind from children under age 13.</p>

    <h2>Security</h2>
    <p>We take reasonable precautions to protect our site and information collected by the Defense Digital Service. We utilize common practices and technical controls to protect the information in our possession or control,  along with DDS.mil itself. These practices and controls include, but are not limited to: encrypting the transfer of personal information over the internet via Transport Layer Security (TLS) and maintaining strict technical controls and procedures to ensure the integrity of all data on DDS.mil. We periodically review our processes and systems to verify compliance with industry best practices and to ensure the highest level of security for our website.</p>

    <p>Unauthorized attempts to upload information or change information on this site are strictly prohibited and may be punishable under the Computer Fraud and Abuse Act of 1987 and the National Information Infrastructure Protection Act.</p>

    <h2>Defense Digital Service Intellectual Property</h2>
    <p><b>Copyright</b> Information created by the Defense Digital Service is in the public domain and you may reproduce, publish, or otherwise use it without our permission. Please consider appropriate citation to the Defense Digital Service as the source. However, copyrighted materials created by entities outside of the Defense Digital Service also may appear on this website, on our third-party site accounts, or may be reached through a link on this website. Copyright and other intellectual property laws may apply to your use of those materials.</p>
    <p id="image-rights"><b>Images</b> Because this site contains images from many sources, we want to label them as clearly as we can.</p>
      <ul>
        <li> Images labeled USGW (U.S. Government Work) were created by government employees as a part of their work.  In most cases, you may reproduce, publish, or otherwise use it without our permission, though we request you appropriately cite the creator where noted.  You cannot (in general) use U.S. government trademarks or the logos of U.S. government agencies without permission.  See <a href="https://www.usa.gov/government-works">USA.gov</a> for more details on copyright exceptions.  For specific information on the Department of Defense Seal, see <a href="https://dod.defense.gov/About/Military-Service-Seals/">Military Service Seals</a>.
        <li> Images labeled Public Domain are non-government images released into the public domain.  You may reproduce, publish, or otherwise use it without permission.
        <li> Images labeled &copy; (Copyright) are non-government images where the owner is retaining all rights associated with Copyright.  You cannot reuse these images without permission.  We can put you in touch with the owner if you want to ask to use one of these images.
    </ul>
    <p><b>Image List</b>
      <ul>
        {% assign items = site.data.layout %}
        {% for item in items %}
          <li><a href="{{item.img_url}}">{{item.img_description}}</a>: {{item.img_credit}}
        {% endfor %}
        {% assign projects = site.data.projects %}
        {% for project in projects %}
          <li><a href="{{project.img_url}}">{{project.img_description}}</a>: {{project.img_credit}}
        {% endfor %}
        {% assign subteams = site.data.subteams %}
        {% for team in subteams %}
          <li><a href="{{team.img_url}}">{{team.img_description}}</a>: {{team.img_credit}}
        {% endfor %}
        {% assign staff = site.data.staff %}
        {% for person in staff %}
          <li><a href="{{person.img_url}}">{{ person.name }}</a>: {{person.img_credit}}
        {% endfor %}
        {% assign gallery = site.data.gallery %}
        {% for image in gallery %}
          <li><a href="{{image.full}}">{{image.description}}</a>: {{image.credit}}
        {% endfor %}
      </ul>

    <h2>Updates to This Privacy Policy</h2>
    <p>We will revise or update this policy from time to time. If we make significant changes to how we handle personal information, we will post changes to the policy on our site and change the date at the top. We will provide additional notice in advance (e.g., a disclaimer on our website) if material changes are being made.</p>
  </div>
</div>
